* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: rgb(2, 76, 76);
    color: white;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
}

a {
    color: aqua;
    text-decoration: none;
}

.app {
    width: 100%;
    max-width: 800px;

}

.app header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.app header h1 {
    color: rgb(178, 239, 248);
    font-size: 36px;
    font-weight: 400;
}

.app header button {
    color: rgb(196, 247, 13);
    font-size: 18px;
    border-bottom: 2px solid rgb(181, 246, 76);
    text-transform: uppercase;


}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(8, 106, 103);
    box-shadow: 0 0 4px rgba(0, 0.1, 0, 0);
    margin-bottom: 1.5rem;
}

.item:last-of-type {
    margin-bottom: 0;
}

.item input[type="checkbox"] {
    margin-right: 1rem;
}

.item input[type="text"] {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    font-weight: 400;
    color: white;
    font-size: 20px;
    flex: 85%;
    margin-right: 1rem;

}

.item input[type="text"]:not(:disabled) {
    border-bottom: 2px solid white;
}

.item.complete {
    opacity: 0.7;
}

.item.complete input[type="text"] {
    text-decoration: line-through;
}

.item:hover,
.item:focus-within {
    outline: 2px solid aqua;
}

.actions button {
    color: rgb(38, 226, 247);

    opacity: 0.8;
    transform: 0.1s;
}

.actions button.remove-btn {
    color: rgb(250, 120, 209);
}

.actions button:hover {
    opacity: 1;
}

.actions button:last-of-type {
    margin-right: 0;
}